name: Maven test
on:
  workflow_dispatch:
  pull_request:

permissions:
  id-token: write
  contents: read
jobs:
  maven-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            oss.sonatype.org:443
            maven.artifacts.atlassian.com:443
            packages.atlassian.com:443
            release-assets.githubusercontent.com:443
            repo.maven.apache.org:443
            repo.spring.io:443
            tuf-repo-cdn.sigstore.dev:443
            fulcio.sigstore.dev:443
            rekor.sigstore.dev:443

      - name: Checkout repostiory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@5222660eda041ecb4000581b943a20ba6fcc84d4 # 5.11.0

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: mvn clean verify
        run: mvn clean verify

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots clean package

      - name: Run doc check
        run: mvn org.apache.maven.plugins:maven-javadoc-plugin:3.5.0:jar

      - name: Run spotless check
        run: mvn spotless:check

      - name: Check maven pom quality
        run: mvn org.kordamp.maven:pomchecker-maven-plugin:1.9.0:check-maven-central -D"checker.release=false"

  reproducilbilty:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}/maven_plugin
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            fulcio.sigstore.dev:443
            github.com:443
            maven.artifacts.atlassian.com:443
            objects.githubusercontent.com:443
            oss.sonatype.org:443
            packages.atlassian.com:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            repo.maven.apache.org:443
            repo.spring.io:443
            tuf-repo-cdn.sigstore.dev:443

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@5222660eda041ecb4000581b943a20ba6fcc84d4 # 5.11.0

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots clean install

      - name: Run reproducibility check
        run: mvn clean install
