name: Release Merge Blocker

on:
  pull_request:

jobs:
  ensure_release_notrunning:
    name: Ensure release action is not running

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@219e4f3829570e41a62b17a1410ec615ca585af1 # 5.10.0

      - name: Check for running release action
        if: ${{ !startsWith(github.head_ref, 'release/') && !startsWith(github.head_ref, 'beta-release/') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          CURRENTLY_RUNNING_RELEASE=$(gh run list -w jreleaser.yml --json status --jq '[.[] | select(.status == "queued" or .status == "in_progress" or .status == "requested" or .status == "waiting" or .status == "pending" or .status == "action_required")][0]')
          CURRENTLY_RUNNING_BETA_RELASE=$(gh run list -w jreleaser-beta.yml --json status --jq '[.[] | select(.status == "queued" or .status == "in_progress" or .status == "requested" or .status == "waiting" or .status == "pending" or .status == "action_required")][0]')
          if [[ "$CURRENTLY_RUNNING_RELEASE" == *"status"* || "$CURRENTLY_RUNNING_BETA_RELASE" == *"status"* ]]; then
            echo "❌ Release workflow is currently running. Please wait for it to finish then rerun this workflow to proceed."
            exit 1
          else
            echo "✅ No running release workflows detected."
          fi
        shell: bash

      - name: Skip check for release branch
        if: ${{ startsWith(github.head_ref, 'release/') || startsWith(github.head_ref, 'beta-release/') }}
        run: |
          echo "✅ Skipping release workflow check for release branch"
        shell: bash
