name: Lockfile PR
on:
  pull_request:

permissions:
  contents: read
jobs:
  check-lockfile:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            sh.jbang.dev:443

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@219e4f3829570e41a62b17a1410ec615ca585af1 # 5.10.0

      - name: run maven-lockfile
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: chains-project/maven-lockfile@219e4f3829570e41a62b17a1410ec615ca585af1 # 5.10.0
        with:
          github-token: ${{ secrets.JRELEASER_GITHUB_TOKEN }}
          include-maven-plugins: true
    
      - name: run maven-lockfile (fork/external)
        if: ${{ github.event.pull_request.head.repo.full_name != github.repository }}
        uses: chains-project/maven-lockfile@219e4f3829570e41a62b17a1410ec615ca585af1 # 5.10.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          include-maven-plugins: true
          commit-lockfile: false # verify lockfile is up-to-date (not possible to update lockfile in forks)
