name: Lockfile
on:
  push:
    branches:
      - main

permissions:
  contents: read
jobs:
  check-lockfile:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            sh.jbang.dev:443

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@af7da72a7b92e40e7d4357b8fb2a1d112ec64cea # 5.13.2

      - name: run maven-lockfile
        uses: chains-project/maven-lockfile@af7da72a7b92e40e7d4357b8fb2a1d112ec64cea # 5.13.2
        with:
          github-token: ${{ secrets.JRELEASER_GITHUB_TOKEN }}
          include-maven-plugins: true
