name: LockfilePR
on:
  pull_request:

permissions:
  contents: read
jobs:
  check-lockfile:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            sh.jbang.dev:443

      - name: run maven-lockfile
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: chains-project/maven-lockfile@352fc01e7c64fdd4766d54931b14f03f958c62da # v5.4.1+ (interim)
        with:
          github-token: ${{ secrets.JRELEASER_GITHUB_TOKEN }}
          include-maven-plugins: true
    
      - name: run maven-lockfile (fork/external)
        if: ${{ github.event.pull_request.head.repo.full_name != github.repository }}
        uses: chains-project/maven-lockfile@352fc01e7c64fdd4766d54931b14f03f958c62da # v5.4.1+ (interim)
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          include-maven-plugins: true
          commit-lockfile: false # verify lockfile is up-to-date (not possible to update lockfile in forks)
