name: Lockfile
on:
  pull_request:


jobs:
  check-lockfile:
        runs-on: ubuntu-latest
        steps:
        - name: Harden Runner
          uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
          with:
            egress-policy: audit

        - name: run maven-lockfile
          uses: chains-project/maven-lockfile@492c6453a5995737c0fd651479bf64cd2b8037fa # v2.0.0
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            include-maven-plugins: true
