name: OSV-Scanner Scheduled Scan

on:
  schedule:
    - cron: "30 12 * * 1"
  push:
    branches: [main]

permissions:
  # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
  actions: read
  # Require writing security events to upload SARIF file to security tab
  security-events: write
  # Only need to read contents
  contents: read

jobs:
  scan-scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: block
        allowed-endpoints: >
          api.deps.dev:443
          api.github.com:443
          api.osv.dev:443
          github.com:443
          release-assets.githubusercontent.com:443
          repo.maven.apache.org:443
          repo.spring.io:443

    # Setups the environment
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Verify action checksums
      uses: chains-project/maven-lockfile/.github/actions/ghasum@5222660eda041ecb4000581b943a20ba6fcc84d4 # 5.11.0

    - name: Run scanner
      uses: google/osv-scanner-action/osv-scanner-action@b77c075a1235514558f0eb88dbd31e22c45e0cd2 # v2.3.0
      continue-on-error: true
      with:
        scan-args: |-
          --output=results.json
          --format=json
          ./pom.xml
          ./maven_plugin/pom.xml

    - name: "Run osv-scanner-reporter"
      uses: google/osv-scanner-action/osv-reporter-action@b77c075a1235514558f0eb88dbd31e22c45e0cd2 # v2.3.0
      with:
        scan-args: |-
          --output=results.sarif
          --new=results.json
          --gh-annotations=false
          --fail-on-vuln=true

    # Upload the results as artifacts (optional). Commenting out will disable uploads of run results in SARIF
    # format to the repository Actions tab.
    - name: "Upload artifact"
      id: "upload_artifact"
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: SARIF file
        path: results.sarif
        retention-days: 5

    # Upload the results to GitHub's code scanning dashboard.
    - name: "Upload to code-scanning"
      if: "${{ !cancelled() && inputs.upload-sarif == true }}"
      uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
      with:
        sarif_file: results.sarif

    - name: "Print Code Scanning URL"
      if: "${{ !cancelled() }}"
      run: |
        echo "View the OSV-Scanner results in the 'Security' tab, using the following link:"
        echo "${{ github.server_url }}/${{ github.repository }}/security/code-scanning?query=is%3Aopen+branch%3A${{ github.ref_name }}+tool%3Aosv-scanner"

    - name: "Error troubleshooter"
      if: ${{ always() && steps.upload_artifact.outcome == 'failure' }}
      run: |
        echo "::error::Artifact upload failed. This is most likely caused by a error during scanning earlier in the workflow."
        exit 1
