# Expanded on https://github.com/google/osv-scanner-action/blob/main/.github/workflows/osv-scanner-reusable-pr.yml
# Copyright 2023 Google LLC
# Licenced under Apache 2.0
name: OSV-Scanner PR Scan

on:
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]

permissions:
  # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
  actions: read
  # Require writing security events to upload SARIF file to security tab
  security-events: write
  # Only need to read contents
  contents: read

jobs:
  scan-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: block
        allowed-endpoints: >
          api.deps.dev:443
          api.github.com:443
          api.osv.dev:443
          github.com:443
          release-assets.githubusercontent.com:443
          repo.maven.apache.org:443
          repo.spring.io:443

    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Verify action checksums
      uses: chains-project/maven-lockfile/.github/actions/ghasum@5222660eda041ecb4000581b943a20ba6fcc84d4 # 5.11.0

    - name: "Checkout target branch"
      run: |
        git checkout $GITHUB_BASE_REF
        git submodule update --recursive

    - name: "Run scanner on existing code"
      uses: google/osv-scanner-action/osv-scanner-action@375a0e8ebdc98e99b02ac4338a724f5750f21213 # v2.3.1
      continue-on-error: true
      with:
        scan-args: |-
          --format=json
          --output=old-results.json
          ./pom.xml
          ./maven_plugin/pom.xml

    - name: "Checkout current branch"
      # Use -f in case any changes were made by osv-scanner (there should be no changes)
      run: |
        git checkout -f $GITHUB_SHA
        git submodule update --recursive

    - name: "Run scanner on new code"
      uses: google/osv-scanner-action/osv-scanner-action@375a0e8ebdc98e99b02ac4338a724f5750f21213 # v2.3.1
      with:
        scan-args: |-
          --format=json
          --output=new-results.json
          ${{ inputs.scan-args }}
      continue-on-error: true

    - name: "Run osv-scanner-reporter"
      uses: google/osv-scanner-action/osv-reporter-action@375a0e8ebdc98e99b02ac4338a724f5750f21213 # v2.3.1
      with:
        scan-args: |-
          --output=results.sarif
          --old=old-results.json
          --new=new-results.json
          --gh-annotations=true
          --fail-on-vuln=true

    # Upload the results as artifacts (optional). Commenting out will disable uploads of run results in SARIF
    # format to the repository Actions tab.
    - name: "Upload artifact"
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: SARIF file
        path: results.sarif
        retention-days: 5

    - name: "Upload old scan json results"
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: old-json-results
        path: old-results.json
        retention-days: 5

    - name: "Upload new scan json results"
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: new-json-results
        path: new-results.json
        retention-days: 5

    # Upload the results to GitHub's code scanning dashboard.
    - name: "Upload to code-scanning"
      id: "upload_artifact"
      if: ${{ !cancelled() }}
      uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
      with:
        sarif_file: results.sarif

    - name: "Print Code Scanning PR URL"
      if: "${{ !cancelled() }}"
      run: |
        echo "View the OSV-Scanner results for this PR in the 'Security' tab, using the following link:"
        echo "${{ github.server_url }}/${{ github.repository }}/security/code-scanning?query=pr%3A${{ github.event.pull_request.number }}"

    - name: "Error troubleshooter"
      if: ${{ always() && steps.upload_artifact.outcome == 'failure' }}
      run: |
        echo "::error::Artifact upload failed. This is most likely caused by a error during scanning earlier in the workflow."
