name: Publish action artifact to GitHub project's Maven repository

on:
  workflow_dispatch:
  push:

jobs:
  build-and-push-action:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Build and publish action to Maven repository
        shell: bash
        run: |
          cd github_action && mvn -B clean deploy -Dquarkus.package.type=uber-jar --update-snapshots -Dquarkus.package.add-runner-suffix=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-lockfile:
    runs-on: ubuntu-latest
    needs: build-and-push-action
    permissions:
      contents: read
      packages: read
    steps:
      - name: lockfile
        uses: chains-project/maven-lockfile@4cc883784f1dce4d4cdcf26203b1949c4a227091
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
