name: Publish action artifact to GitHub Maven package

on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  build-and-push-action:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            maven.pkg.github.com:443
            repo.maven.apache.org:443

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Build and publish action to Maven repository
        shell: bash
        run: |
          cd github_action && mvn -B clean deploy -Dquarkus.package.type=uber-jar --update-snapshots -Dquarkus.package.add-runner-suffix=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
