name: Regenerate Lockfile
on:
  workflow_dispatch:

permissions:
  contents: read
jobs:
  check-lockfile:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            sh.jbang.dev:443

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@723132de2c6095048129f6eaf5e6b30f13c5b2ca # 5.9.0

      - name: run maven-lockfile
        uses: chains-project/maven-lockfile@723132de2c6095048129f6eaf5e6b30f13c5b2ca # 5.9.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
