name: Smoke Tests

on:
  workflow_dispatch:
  pull_request:
env:
  working-directory: ./
permissions:
  id-token: write
  contents: read
jobs:
  jbang:
    defaults:
      run:
        working-directory: ${{ env.working-directory }}
    runs-on: ubuntu-latest
    name: Smoke Test Against Different Repos
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            fulcio.sigstore.dev:443
            github.com:443
            objects.githubusercontent.com:443
            oss.sonatype.org:443
            raw.githubusercontent.com:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            repo.eclipse.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            repository.sonatype.org:443
            sh.jbang.dev:443
            tuf-repo-cdn.sigstore.dev:443

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@219e4f3829570e41a62b17a1410ec615ca585af1 # 5.10.0

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /root/.jbang
          key: $-jbang-$
          restore-keys: |
              $-jbang-

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'
      - id: install-jbang
        run: curl -Ls https://sh.jbang.dev | bash -s - app setup
        shell: bash

      - name: SmokeTest
        run: |
          ~/.jbang/bin/jbang .github/smoketest/SmokeTest.java
