on:
  workflow_dispatch:
  pull_request:
env:
  working-directory: ./
permissions:
  contents: read
jobs:
  jbang:
    defaults:
      run:
        working-directory: ${{ env.working-directory }}
    runs-on: ubuntu-latest
    name: smoke test against different repos
    steps:
    - name: checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: Set up JDK 17
      uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4
      with:
        path: /root/.jbang
        key: $-jbang-$
        restore-keys: |
            $-jbang-
    - name: Set up Maven
      run: sudo apt install maven
    - name: jbang
      uses: jbangdev/jbang-action@36d4a384d215d91c2c7e74014a486cedfe09d760 # v0.119.0
      with:
        script: ".github/smoketest/SmokeTest.java"
      env:
        JBANG_REPO: /root/.jbang/repository
        GITHUB_TOKEN: $
        WORKING_DIRECTORY: ${{ env.working-directory }}
