name: Smoke Tests

on:
  workflow_dispatch:
  pull_request:
env:
  working-directory: ./
permissions:
  id-token: write
  contents: read
jobs:
  jbang:
    defaults:
      run:
        working-directory: ${{ env.working-directory }}
    runs-on: ubuntu-latest
    name: Smoke Test Against Different Repos
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            fulcio.sigstore.dev:443
            github.com:443
            objects.githubusercontent.com:443
            oss.sonatype.org:443
            raw.githubusercontent.com:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            repo.eclipse.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            repository.sonatype.org:443
            sh.jbang.dev:443
            tuf-repo-cdn.sigstore.dev:443

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Verify action checksums
        uses: chains-project/maven-lockfile/.github/actions/ghasum@5222660eda041ecb4000581b943a20ba6fcc84d4 # 5.11.0

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /root/.jbang
          key: $-jbang-$
          restore-keys: |
              $-jbang-

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'
      - id: install-jbang
        run: curl -Ls https://sh.jbang.dev | bash -s - app setup
        shell: bash

      - name: SmokeTest
        run: |
          ~/.jbang/bin/jbang .github/smoketest/SmokeTest.java
